@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* IMPORT ALL FONTS */
  @font-face {
    src: url(/fonts/iAWriterQuattroS-Regular.woff2);
    font-family: "Quattro";
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    src: url(/fonts/iAWriterQuattroS-Bold.woff2);
    font-family: "Quattro";
    font-style: normal;
    font-weight: bold;
  }

  @font-face {
    src: url(/fonts/iAWriterQuattroS-Italic.woff2);
    font-family: "Quattro";
    font-style: italic;
    font-weight: normal;
  }

  @font-face {
    src: url(/fonts/iAWriterQuattroS-BoldItalic.woff2);
    font-family: "Quattro";
    font-style: italic;
    font-weight: bold;
  }
  /* END IMPORT FONTS */
}

html,
body {
  @apply bg-background;
  @apply h-full;
  @apply p-0;
  @apply text-grey-15;
  min-height: -webkit-fill-available;

  font-family: "Quattro";
}

body {
}

#__next {
  height: 100%;
}

/* START FONT STYLING */
h1 {
  @apply text-2xl;
  @apply font-bold;
}

h2 {
  @apply text-xl;
  @apply font-bold;
}

h3 {
  @apply text-lg;
  @apply font-bold;
}

h4 {
  @apply text-[.95rem];
  @apply font-bold;
  @apply text-grey-35;
  @apply uppercase;
}

p {
}

small {
  @apply text-sm;
}

.tiny {
  @apply text-xs;
}

a {
  color: inherit;
  text-decoration: none;
}

pre-wrap {
  font-family: "Quattro";
  color: aqua;
}

/* END FONT STYLING */

/* START GLOBAL STYLING */
input {
  @apply bg-white;
  @apply rounded-md;
  @apply border;
  @apply border-grey-55;
  @apply p-2;
  @apply box-border !important;
}

::placeholder {
  @apply !text-grey-80;
  @apply italic;
}

.overlay {
  @apply fixed;
  @apply inset-0;
  @apply bg-white;
  @apply opacity-70;
}

.lightBorder {
  @apply border;
  @apply border-grey-80;
  @apply rounded-md;
}

.defaultCardBorder {
  @apply border;
  @apply border-grey-80;
  @apply rounded-lg;
  @apply bg-white;
}

.deckCardBorder {
  z-index: 0;
  position: relative;
  padding-left: 8px;
  padding-bottom: 8px;
}

.deckCardBorder::before {
  content: "";
  z-index: -1;
  border-image-source: url(/cardBorders/deckCardBorder.svg);
  border-image-slice: 12% fill;
  border-width: 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.memberCardBorder {
  z-index: 0;
  position: relative;
  padding-left: 4px;
  padding-bottom: 4px;
}

.memberCardBorder::before {
  content: "";
  z-index: -1;
  border-image-source: url(/cardBorders/memberCardBorder.svg);
  border-image-slice: 12% fill;
  border-width: 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* 
.deckBorderContent {
  margin: -19px;
  @apply rounded-lg;
} */
/* END GLOBAL STYLING */

* {
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
